aiofiles
asgiref
autopep8
click
httpx
fastapi
h11
pillow
pydantic
pytest
python-multipart
rel
reportlab
reportlab-qrcode
requests
starlette
typing_extensions
uvicorn[standard]
websocket-client
werkzeug
svgutils
